.boards-container{
  display: flex;
  justify-content: space-evenly;
  margin-left: 2px;
  text-align: center;
  margin: 10px;
}

.option-container {
  width: 500px;
  height: 60px;
  margin:auto ;
  margin-top: 50px;
  background-color: rgb(245, 239, 239);
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destroyer{
  background-color: rgb(83, 123, 177);
  border: 1px rgb(109, 103, 103) solid;
  cursor: pointer;
  

}

.submarine{
  background-color: rgb(83, 123, 177);
  border: 1px rgb(109, 103, 103) solid;
  cursor: pointer;

}

.cruiser {
  background-color: rgb(83, 123, 177);
  border: 1px rgb(109, 103, 103) solid;
  cursor: pointer;

}
.battleship{
  background-color: rgb(83, 123, 177);
  border: 1px rgb(109, 103, 103) solid;
  cursor: pointer;
}

.carrier {
  background-color: rgb(83, 123, 177);
  border: 1px rgb(109, 103, 103) solid;
  cursor: pointer;
}
.destroyer-preview {
  width: 20px;
  height: 10px;
  margin: 3px;
  cursor: pointer;
}

.submarine-preview {
  width: 30px;
  height: 10px;
  margin: 3px;
  cursor: pointer;
}

.cruiser-preview{
  width: 30px;
  height: 10px;
  margin: 3px;
  cursor: pointer;
}

.battleship-preview{
  width: 40px;
  height: 10px;
  margin: 3px;
  cursor: pointer;
}

.carrier-preview{
  width: 50px;
  height: 10px;
  margin: 3px;
  cursor: pointer;
}

.rotated {
  transform: rotate(90deg);
}

.board-wrapper {
  display: flex;
  justify-content: space-between;
}

.single-board-container {
  text-align: center;
  margin: 10px;
}